body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

.container {
    text-align: center;
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #008CFF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0078e0;
}