body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

.container {
    text-align: center;
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #008CFF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0078e0;
}

#input-create-chat {
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 5px;
    border: solid 4px #008CFF;
}

#button-create-chat {
    margin: 10px;
}

#input-type-chat-password {
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 5px;
    border: solid 4px #008CFF;
}

#button-go-to-chat {
    margin: 10px;
    padding: 15px 20px;
}

#button-go-to-chat-copy {
    margin: 10px;
    padding: 15px 50px;
}

#input-go-to-chat {
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 5px;
    border: solid 4px #008CFF;
}

.chat {
    padding: 10px;
}

#input-chat {
    width: 830px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 5px;
    border: solid 4px #008CFF;
}